<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>AJAX-Aboutus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>    
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <script th:src="@{/js/jsscript.js}"></script>  
</head>
<body>
    <div id="wrapper">
   		<th:block th:include="@{_header.html}"/>
         <main>
            <section id="ABOUTUS">
              <nav>
                <h1>ABOUT US</h1>
              </nav>
              <section>
                <article class = smdgks>
                  <ul>
                    <li>
                      <a  class="thumb"><img src="https://avatars.githubusercontent.com/u/88361198?v=4" alt="프로필" style="border-radius: 50% 50% 50% 50%;"/></a>
                    </li>


                    <li>
                      <h3 class="name">권능한 (Back-end Engineer )</h3>
                      <p class="desc">
                        <a>매일 매일 고민하며 풀스텍 개발자를 향해 노력하는 AJAX 백엔드 개발자 권능한입니다.</a>
                      </p>
                    </li>

                    <li>
                      <i class="fa fa-github" aria-hidden="true"></i><a href ="https://github.com/lollolzz" target='_blank'>Github : https://github.com/lollolzz</a>
                      <br>
                      <br>
                      <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:lollolzz1018@gmail.com">Email : lollolzz1018@gmail.com</a>
                    </li>
                  </ul>
                </article>
                <article class = dPdms>
                  <ul>
                    <li>
                      <a  class="thumb"><img src="https://avatars.githubusercontent.com/u/88361327?v=4" alt="프로필" style="border-radius: 50% 50% 50% 50%;"/></a>
                    </li>
                    <li>
                      <h3 class="name">김예은 ( Front-end Engineer )</h3>
                      <p class="desc">
                        <a >누구보다 AJAX에 애착을 가지고 있는 김예은입니다. 예쁜 쇼핑하세요.</a>
                      </p>
                    </li>
             
                     
                     <li>
                      <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/whiteydoublee" target='_blank'>Github : https://github.com/whiteydoublee</a>
                      <br>
                      <br>
                      <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:yeeunkim0701@gmail.com">Email : yeeunkim0701@gmail.com</a>
                    </li>
                  </ul>
                </article>
                <article class= tlgus>
                  <ul>
                    <li>
                      <a  class="thumb"><img src="https://avatars.githubusercontent.com/u/88361213?v=4" alt="프로필" style="border-radius: 50% 50% 50% 50%;"/></a>
                    </li>
                    <li >
                      <h3 class="name">박시현 ( Back-end Engineer )</h3>
                      <p class="desc">
                        <a >AJAX 백엔드 개발자 박시현입니다. DB 및 서버에 문제가 있거든 저에게 문의해주세요.</a>
                      </p>
                    </li>
              
                    </li>
                    <li>
                      <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/SihyunPark01" target='_blank'>Github : https://github.com/SihyunPark01</a>
                      <br>
                      <br>
                      <i class="fa fa-envelope" aria-hidden="true"></i><a href="maro0226@naver.com">Email : maro0226@naver.com</a>
                    </li>
                  </ul>
                </article>
                <article class = wlsgk>
                  <ul>
                    <li>
                      <a  class="thumb"><img src="https://avatars.githubusercontent.com/u/87685946?v=4"alt="프로필" style="border-radius: 50% 50% 50% 50%;"/></a>
                    </li>
                    <li >
                      <h3 class="name">변진하 ( Back-end Engineer )</h3>
                      <p class="desc">
                        <a >AJAX 마켓 프로젝트 재밌게 했습니다. 다음에 또 봐요.</a>
                      </p>
                    </li>
               
                    <li>
                      <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/Byeonjinha" target='_blank'>Github : https://github.com/Byeonjinha</a>
                      <br>
                      <br>
                      <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:jinhaday@gmail.com">Email : jinhaday@gmail.com</a>
                    </li>
                  </ul>
                </article>
              </section>
            </section>
        </main>
         <th:block th:include="@{_footer.html}"/>
    </div>    
</body>
</html>