<link rel="stylesheet" href="./css/style시현.css"/>  
    <footer>
          <div class="footer-reinsurance">
              <ul>
                  <li class="flex1">
                      <a href="#" onclick="return false">
                      	<i class="fas fa-sync-alt fa-lg f-i" style="color: gray"></i>
                      <p>무료반품</p>
                      </a>
                      <div class="popup_bg1">
                          <div class="popup1">
                              <p>무료반품의 혜택을 누리세요</p>
                          </div>
                      </div>
      
                  </li>    
                  <li class="flex2">
                      <a href="#" onclick="return false">
                          <i class="fas fa-shipping-fast fa-lg" style="color: gray"></i>
                      <p>무료배송</p>
                      </a>
                      <div class="popup_bg2">
                          <div class="popup2">
                              <p>5만원 이상시 배송비가 무료!</p>
                          </div>
                      </div>
                  </li>    
                  <li class="flex3">
                      <a href="#" onclick="return false">
                      	<i class="fas fa-credit-card fa-lg" style="color: gray"></i>
                      <p>안전결제</p>
                      </a>
                      <div class="popup_bg3">
                          <div class="popup3">
                              <p>AJAX는 아이리스 모듈을 통한 
                                  <br>안전결제를 제공합니다</p>
                          </div>
                      </div>
                  </li>    
                  <li class="flex4">
                      <a href="#" onclick="return false">
                     	<i class="fas fa-mobile-alt fa-lg" style="color: gray"></i>
                      <p class="flex4-p" style="margin-left: -17px">도움이 필요하세요?</p>
                      </a>
                      <div class="popup_bg4">
                          <div class="popup4">
                              <p>AJAX의 고객센터는 고객님을 위해 
                                  <br>주중 오전 9시부터 오후 6시이전까지 
                                  <br>언제나 열려있습니다
                                  <br>
                                  <br>월요일~금요일: 09:00~18:00
                                  <br>점심시간: 12:30~13:30
                                  <br>매주 토, 일요일과 공휴일은 휴무입니다.
                                  <br>고객센터 전화번호: 1588-9619
                              </p>
                          </div>
                      </div>
                  </li>
              </ul>    
          </div>
        
          <div class="footer1">
              <div class="footer2">
                  <p>(주)AJAX | 대표이사 김철학 | 부산광역시 부산진구 서전로10번길 28 오기빌딩</p>
                  <p>사업자등록번호 120-86-05491 사업자정보확인 ▶ᅵ통신판매업신고번호제 2021-부산진구-01501호</p>
                  <p>개인정보관리책임자: 김철학 CUSTOMER SERVICE TEL 1500-0000, CS-KR@GayMARKET.COM</p>
              </div>
              <div class="footer3">
                  <p>부산보증보험(주) 이행보증보험</p>
                  <p>고객님은 안전거래를 위해 현금등으로 결제시 결제금액 전액에 대해 저희 쇼핑몰에서 가입한</p>
                  <p>부산보증보험(주)의 이행보증보험 서비스를 이용하실 수 있습니다</p>
              </div>
          </div>    
      
          <div class="footer4">
              <ul>
                  <li><a href>사이트맵</a></li>
                  <li><a href>법적고지</a></li>
                  <li><a href>이용약관</a></li>
                  <li><a href>개인정보처리방침</a></li>
                  <li><a href>사이즈가이드</a></li>
              </ul>
          </div>
      </footer>


