<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>AJAX-Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jsscript.js}"></script>
    <script>
	    
	    $(function(){

            $('.MainBanner > ul').bxSlider({
                slideWidth: 2000,
                pager: false,
                controls: false,
                auto: true
            });

        });
    
    </script>
</head>
<body class= "index-body">
 	<div id="wrapper">
	    <th:block th:include="@{_header.html}"/>
		<main class="index-main">
		      <section class="MainTop">
		         <div class="MainBanner">
		             <ul class="MainBanner-ul">
		                 <li><img class="bannerimg" src="./img/bannerimg1.JPG" alt="배너이미지2"></li>
		                 <li><img class="bannerimg" src="./img/bannerimg2.JPG" alt="배너이미지2"></li>
		                 <li><img class="bannerimg" src="./img/bannerimg3.JPG" alt="배너이미지2"></li>
		             </ul>
		         </div>
		     </section>
		     <!-- Tick -->
		     <section class="tick-page-section bg-primary" id="about">
		         <div class="container-tick">
		             <div class="index-row1">
		                 <div class="col-lg-8">
		                     <h3 class="tick-title">AJAX</h3> 
		                     <article class="tick-content">
		                     <p>AJAX는 한국 오리진의 세계적인 여성 의류 브랜드로써 패셔너블한 일상복으로도 널리 알려져 있습니다.</p> 
		                     <p>남 프랑스의 리조트에서 바캉스를 즐기는 유명 인사들 사이에서 크게 유행했으며, 
		                     특히 AJAX의 고급스러우면서도 실용적인 소재의 아이템들은 휴양뿐만 아니라 캐주얼 웨어로 전세게에 알려진</p>
		                     <p>머스트 해브 아이템으로 자리잡게 되었습니다.</p>
							 <p>
							 3,547명이 이 브랜드를 좋아합니다.</p> </article>
		                 </div>
		             </div>
		         </div>
		     </section>
		
		     <!-- Recommend-text/// 컨셉의류 링크 -->
		     <section class="page-section" id="services">
		         <div class="container-re">
		             <h2 class="recommend-choice">Recommend</h2>
		             <hr class="recommend-hr"/>
		             <div class="row">
		                 <div class="col-lg-3 col-md-6">
		                     <div class="recommend-text">
		                         <div class="recommend-div"><i class="recommend-i"></i></div>
		                         <h3 class="recommend-name">겨울 아우터</h3>
		                         <p class="recommend-de">All clothes are kept current to keep.</p>
		                     </div>
		                 </div>
		                 <div class="col-lg-3 col-md-6">
		                     <div class="recommend-text">
		                         <div class="recommend-div"><i class="recommend-i"></i></div>
		                         <h3 class="recommend-name">겨울 신발</h3>
		                         <p class="recommend-de">All clothes are kept current to keep.</p>
		                     </div>
		                 </div>
		                 <div class="col-lg-3 col-md-6">
		                     <div class="recommend-text">
		                         <div class="recommend-div"><i class="recommend-i"></i></div>
		                         <h3 class="recommend-name">겨울 스커트</h3>
		                         <p class="recommend-de">All clothes are kept current to keep.</p>
		                     </div>
		                 </div>
		                 <div class="col-lg-3 col-md-6">
		                     <div class="recommend-text">
		                         <div class="recommend-div"><i class="recommend-i"></i></div>
		                         <h3 class="recommend-name">겨울 니트</h3>
		                         <p class="recommend-de">All clothes are kept current to keep.</p>
		                     </div>
		                 </div>
		             </div>
		         </div>
		     </section>
		
		     <!-- Recommend-img // 추천 의류 링크-->
		     <div id="Recommend">
		         <div class="container-fluid">
		             <div class="row">
		                 <div class="col-lg-4 col-sm-6">
		                     <a class="container-box" th:href="@{/product/view?productCode=190}" title="Project Name">
		                         <img class="img-cate" src="./img/re-top.jpg" alt="..." />
		                         <div class="container-box-caption">
		                             <div class="container-category text-white-50">Category</div>
		                             <div class="container-name">겨울니트</div>
		                         </div>
		                     </a>
		                 </div>
		                 <div class="col-lg-4 col-sm-6">
		                     <a class="container-box" th:href="@{/product/view?productCode=160}" title="Project Name">
		                         <img class="img-cate" src="./img/re-s.jpg" alt="..." />
		                         <div class="container-box-caption">
		                             <div class="container-category text-white-50">Category</div>
		                             <div class="container-name">셔츠</div>
		                         </div>
		                     </a>
		                 </div>
		                 <div class="col-lg-4 col-sm-6">
		                     <a class="container-box" th:href="@{/product/view?productCode=290}" title="Project Name">
		                         <img class="img-cate" src="./img/re-sh.jpg" alt="..." />
		                         <div class="container-box-caption">
		                             <div class="container-category text-white-50">Category</div>
		                             <div class="container-name">겨울 구두</div>
		                         </div>
		                     </a>
		                 </div>
		                 <div class="col-lg-4 col-sm-6">
		                     <a class="container-box" th:href="@{/product/view?productCode=158}" title="Project Name">
		                         <img class="img-cate" src="./img/re-outter.jpg" alt="..." />
		                         <div class="container-box-caption">
		                             <div class="container-category text-white-50">Category</div>
		                             <div class="container-name">겨울 아우터</div>
		                         </div>
		                     </a>
		                 </div>
		                 <div class="col-lg-4 col-sm-6">
		                     <a class="container-box" th:href="@{/product/view?productCode=589}" title="Project Name">
		                         <img class="img-cate" src="./img/re-op.jpg" alt="..." />
		                         <div class="container-box-caption">
		                             <div class="container-category text-white-50">Category</div>
		                             <div class="container-name">원피스</div>
		                         </div>
		                     </a>
		                 </div>
		                 <div class="col-lg-4 col-sm-6">
		                     <a class="container-box" th:href="@{/product/view?productCode=512}" title="Project Name">
		                         <img class="img-cate" src="./img/re-b.jpg" alt="..." />
		                         <div class="container-box-caption p-3">
		                             <div class="container-category text-white-50">Category</div>
		                             <div class="container-name">블라우스</div>
		                         </div>
		                     </a>
		                 </div>
		             </div>
		         </div>
		     </div>
		     <!-- About us -->
		     <section class="page-section aboutus">
		         <div class="container-about">
		             <h2 class="abouttit">Inside Ajax</h2>
		             <a class="btn aboutus-click" th:href="@{about/aboutus}">About us</a>
		         </div>
		     </section>
		 </main>
		 <th:block th:include="@{_footer.html}"/>
</body>
</html>