<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</script>
</head>
<body>
    <div id="wrapper">
      <th:block th:include="@{/_header.html}"></th:block>
      <th:block th:include="@{/board/_aside__${group}__.html}"></th:block>
        <section id="board" class="view">
            <h3>글보기</h3>
            <table>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" th:value="${articleVo.title}" readonly/></td>
                </tr>
                <tr th:if="${articleVo.file == 1}">
                    <td>첨부파일</td>
                    <td>
                       	<a th:href="@{/fileDownload(fseq=${articleVo.fileVo.fseq})}">[[${articleVo.fileVo.oriName}]]</a><br/>
                        <span>[[${articleVo.fileVo.download}]]회 다운로드</span>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <textarea name="content" readonly>[[${articleVo.content}]]</textarea>
                    </td>
                </tr>
            </table>
            <div>
                <a th:href="@{/board/delete(group=${group},cate=${cate},seq=${articleVo.seq})}" class="btnDelete">삭제</a>
                <a th:href="@{/board/modify(group=${group},cate=${cate},seq=${articleVo.seq})}" class="btnModify">수정</a>
                <a th:href="@{/board/list(group=${group},cate=${cate})}" class="btnList">목록</a>
            </div>  
            
            <!-- 댓글리스트 -->
            <section class="commentList">
                <h3>댓글목록</h3>
                <article th:each="comment:${comments}" class="comment">
                    <span>
                        <span>[[${comment.nick}]]</span>
                        <span>[[${comment.rdate.substring(2,10)}]]</span>
                    </span>
                    <textarea name="comment" readonly>[[${comment.content}]]</textarea>
                    <div>
                        <a th:href="@{/board/deletComment(group=${group}, cate=${cate}, seq=${comment.seq}, parent=${comment.parent})}">삭제</a>
                        <a th:href="@{/board/modifyComment}">수정</a>
                    </div>
                </article>
                
                <p class="empty">
                    등록된 댓글이 없습니다.
                </p>
            </section>

            <!-- 댓글입력폼 -->
            <section class="commentForm">
                <h3>댓글쓰기</h3>
                <form th:action="@{/board/insertComment(group=${group},cate=${cate}, seq=${articleVo.seq})}" method="post">
                <input type="hidden" name="parent" th:value="${articleVo.seq}">
                <input type="hidden" name="uid"    th:value="${session.sessMember.uid}">
                    <textarea name="content"></textarea>
                    <div>
                        <a th:href="@{/board/view(group=${group}, cate=${cate}, seq=${articleVo.seq})}" class="btnCancel">취소</a>
                        <input type="submit" class="btnWrite" value="작성완료"/>
                    </div>
                </form>
            </section>

        </section>
         <th:block th:include="/_footer.html"></th:block>
    </div>    
</body>
</html>