#list-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
}
#list-wrap .banners{
    width: 100%;
    height: 100px;
    line-height: 30px;
    margin-right: 520px;
    padding: 0; 
}

.banners .bigbanner {
    margin: 0 auto;
    width: 110px;
}

#list-wrap .banners .bigbanner > p{
    margin: 0 0 0px;
}
a{
    text-decoration: none;
    color: #000;
}
p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list-paging-ol {
    list-style: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#list-wrap .banners .bigbanner > .fmenu > h2 {
    padding: 0 0 10px;
    color: #555;
    text-align: center;
    font-size: 14px;
}

li {
    margin-left: 0;
}

#list-wrap .banners > .sub-banners > .subcate {
    border: 0 solid #d7d5d5;
    font-size: 0;
    line-height: 0;
    text-align:center;
}

#list-wrap .banners > .sub-banners > .subcate > li{
    display: inline-block;
    margin: 10px 0;
    padding: 0 0px 0 0;font-size: 12px;
    line-height: 14px;
    vertical-align: top;
    list-style: none;
}

#list-wrap .banners > .sub-banners > .subcate > li > a {
    padding: 0 10px;
    font-weight: bold;
    color: #777;
}

#list-wrap .clothes-lists  {
    justify-content: center;
}

.clothes-lists  .function {
    display:table;
    margin-left: auto;
    margin-right: auto;
}

.clothes-lists .function  .prdCnt {
    float: left;
    margin-right: 745px;
    color: #555;
    font-size: 1.3rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

strong {
    font-weight: bold;
    font-size: 1.4rem;
}

.clothes-lists .function .list-type-good{
    float: right;
    margin-top: 13px;
    
}

.clothes-lists .function #list-type {
    display: inline;
    margin: 0 43px 0 0;
    padding: 0;

}

.clothes-lists .function #list-type li {
    display: inline;
    float: left;
    padding: 0 0 0 10px;
    
}

.clothes-lists .function #list-type li:first-child {
    background: none;

}

.clothes-lists .function #list-type li a {
    font-size: 1.3rem;
    color: #555;
}

.jinjja-clothes-lists{
    justify-content: center; 
    
}
.jinjja-clothes-lists #rows-and-columns {
    display: table;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;
    line-height: 0;
}

.jinjja-clothes-lists #rows-and-columns li.btn_1st-item {
    width: 25%;
    display: inline-block;

    color: #838383;
    vertical-align: top;
}

.jinjja-clothes-lists #rows-and-columns li.btn_1st-item .box {
    width: 235px;
    float: left;
    font-size: 12px;
    line-height: 18px;
}

.jinjja-clothes-lists #rows-and-columns span.top {
    display: block;
    margin: 0 0 10px;
    text-align: center;
}

.jinjja-clothes-lists #rows-and-columns .prdImg {
    position: relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.jinjja-clothes-lists #rows-and-columns .prdImg .thumb {
    width: 280px;
    height: 370px;
}

.jinjja-clothes-lists #rows-and-columns .prdImg .wishIcon {
    position: absolute;
    right: 5px;
    bottom:5px;
    z-index: 1;
    cursor: pointer;
}

.jinjja-clothes-lists #rows-and-columns .list-product-name {
    padding: 7px 0;
    width: 280px;
    height: 39px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.jinjja-clothes-lists #rows-and-columns .list-product-name a {
    color: #555;
}

.jinjja-clothes-lists #rows-and-columns .list-product-name .title_displaynone {
    font-weight: normal;
}
.jinjja-clothes-lists #rows-and-columns .list-product-name .title_displaynone span {
    font-size: 12px;
  
    color: #555555;
}

.jinjja-clothes-lists #rows-and-columns .product-listitem {
    margin: 0;
    text-align: center;
    width: 247px;
}

.product-listitem li {
    text-align: center;
}

.product-listitem li strong {
    font-weight: normal;
    vertical-align: top;
}

.product-listitem li strong span {
    font-size: 12px;
    color: #555555;
    vertical-align: top;
}

.product-listitem > .price > .title span {
    font-weight: bold;
}

.product-listitem .price span.numbers {
    font-size: 12px;
    color: #555555;
    font-weight: bold;
}

.product-listitem .price #tax-type {
    text-decoration: line-through;
}

.product-listitem .salePrice span {
    font-size: 12px;
    color: #ff4040;
}

.product-listitem .salePrice #tax-type {
    font-size: 12px;
    color: #555555;
}

.product-listitem .point .numeric {
    font-size: 12px;
    color: #555555;
}

.box .icon {
    overflow: hidden;
    zoom: 1;
    text-align: center;
}
.box .button {
    overflow: hidden;
    zoom: 1;
    text-align: center;
}

.box .button .bag {
    padding: 7px 0 0 5px;
}

.box .button img {
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}

.box .button .option {
    padding: 7px 0 0 5px;
}

.paging {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}


.paging > span > a {
    color: #777;            
    font-size: 11px;
    letter-spacing: -1px;
}

.paging > span > a:hover {
    text-decoration: underline;
}

.paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.paging > .num > a:hover {
    border: 1px solid #454c5f;
    text-decoration: none;
}
.paging > .num > a.on {
    color: #fe434c;
    font-weight: bold;
}