<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>AJAX-List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/styleList.css}">
    <script th:src="@{/js/jsscript.js}"></script>
    <script th:src="@{/js/zipcode.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<th:block th:include="@{_header.html}"></th:block>
	<main>
		<section id="list-wrap">
			<div class="clothes-lists">
				<div class="function">
					<p class="prdCnt">
						*
						<strong>[[${totalCount}]]</strong>
						items in this category.
					</p>
					<div class="list-type-good">
						<!-- 능한 2021.12.13 작성되어 있던 정렬 방식 추가 완성 
						상품 검색하면 기본적으로 낮은 가격순으로 정렬되지만 다른 정렬을 선택 후 다시 낮은 가격순으로 정렬 
					      을 원할 수 있기 때문에 낮은 가격순 정렬을 넣어둠  -->
						<ul id="list-type">
							<li>
								<a th:href="@{/product/list(cate1=${cateVo.cate1}, cate2=${cateVo.cate2}, order=1)}" th:classappend="${order} == 1 ? on">low price</a>
							</li>
							<li>
								<a th:href="@{/product/list(cate1=${cateVo.cate1}, cate2=${cateVo.cate2}, order=2)}" th:classappend="${order} == 2 ? on">|&nbsp;&nbsp;&nbsp;&nbsp;high price</a>
							</li>
							<li>
								<a th:href="@{/product/list(cate1=${cateVo.cate1}, cate2=${cateVo.cate2}, order=3)}" th:classappend="${order} == 3 ? on">|&nbsp;&nbsp;&nbsp;&nbsp;name</a>
							</li>
							<li>
								<a th:href="@{/product/list(cate1=${cateVo.cate1}, cate2=${cateVo.cate2}, order=4)}" th:classappend="${order} == 4 ? on">|&nbsp;&nbsp;&nbsp;&nbsp;new item</a>
							</li>
						</ul>
						<!-- 능한 2021.12.13 -->
					</div>
				</div>
			</div>
			<div class="jinjja-clothes-lists">
				<ul id="rows-and-columns">
					<!--1st prd-->
					<li class="btn_1st-item" th:each="product:${products}" >
						<div class="box">
							<span class="top">
								<input type="checkbox" class="displaynone" hidden/>
							</span>
							<p class="prdImg">
								<a th:href="@{/product/view(cate1=${product.cate1},cate2=${product.cate2},productCode=${product.productCode})}" name="move">
									<img th:src="@{/thumb/{cate1}/{cate2}/{img}(cate1=${product.cate1}, cate2 = ${product.cate2}, img=${product.thumb1})}" alt="빈티지 자가드 가디건" class="thumb">
								</a>
								<span class="wishIcon"></span>
							</p>
							<p class="list-product-name">
								<a href="#" class="">
									<span class="title_displaynone">
										<span>상품명</span>
										:
									</span>
									<span>[[${product.name}]]</span>
								</a>
							</p>
							<ul class="product-listitem">
								<li class="price">
									<strong class="title">
										<span>
											판매가
										</span>
										:
									</strong>
									<span class="numbers">
										[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]원
									</span>
									<span id="tax-type"></span>
								</li>
							</ul>
							<p class="icon"></p>
							<div class="button">
								
									<span class="option"></span>
							</div>
						</div>
					</li>
	
				</ul>
			</div>
			<div class="paging">
				<span class="prev">
	            	<a th:if="${groups[0] > 1}" th:href="@{/product/list(cate1=${cateVo.cate1}, cate2=${cateVo.cate2}, pg=${groups[0]-1})}" class="prev">이전</a>
	            </span>
	            <span class="num">
	              	<th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
	            		<a th:href="@{/product/list(cate1=${cateVo.cate1}, cate2=${cateVo.cate2}, pg=${num})}" th:class="${num==currentPage?'on':''}">[[${num}]]</a>
	            	</th:block>
	            </span>
	            <span class="next">
					<a th:if="${groups[1] < lastPageNum}" th:href="@{/product/list(cate1=${cateVo.cate1}, cate2=${cateVo.cate2}, pg=${groups[1]+1})}" class="next">다음</a>
	            </span>
			</div>
		</section>
	</main>
	<th:block th:include="@{_footer.html}"></th:block>
</body>
</html>
