<script>
	$(function(){
		
		var category = $('.category');
		
		// 카테고리 요청하기
		$.get('/Kmarket/getCategories', function(data){
			
			// 1차 카테고리 생성
			$.each(data, function(i, catesVo){
				// return cates로 보낸것이 catesVo가 되는 것이다.
				// catesVo라는 변수명으로 명명해준것이다.
				// data안에 컨트롤러에서 return한 cates를 받아와서 변수명 catesVo로 받아 와서 사용함 
				
				var ico = '';
				if(i == 0) ico = 'fas fa-shopping-bag';
				if(i == 1) ico = 'fas fa-tshirt';
				if(i == 2) ico = 'fas fa-baby-carriage';
				if(i == 3) ico = 'fas fa-utensils';
				if(i == 4) ico = 'fas fa-home';
				if(i == 5) ico = 'fas fa-tv';
				if(i == 6) ico = 'fas fa-running';
				if(i == 7) ico = 'fas fa-car';
				if(i == 8) ico = 'fas fa-book';
				
				var tag  = "<li>";
                    tag += "<a href='#'><i class='"+ico+"'></i>"+catesVo.tit1+"</a>";
					tag += "<ol class='cate2s'></ol>";
					tag	+= "</li>";
				
				category.append(tag);
				
				// 2차 카테고리 생성
				// 1차 카테고리를 선택하였을 때 1차 카테고리에 포함된 2차 카테고리를 출력하여 준다 
				// 이 때 2차 카테고리는 DB에 저장되어 져있는데 이걸 cate2Vo에 넣어두었기 때문
				// cate2Vo.cate 형식으로 불러온것 
				$.each(catesVo.cate2List, function(j, cate2Vo){				
					var url = "/Kmarket/product/list?cate1="+cate2Vo.cate1+"&cate2="+cate2Vo.cate2;					
					$('.cate2s').eq(i).append("<li><a href='"+url+"'>"+cate2Vo.title+"</a></li>");										
				});
			});
		});
	});
</script>

<!-- 카테고리 -->
<ul class="category">     
    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
</ul>

