<header>
    <a th:href="@{/}" class="logo"><img th:src="@{/img/logo.png}" alt="로고"/></a>
    <p>
        <a th:href="@{/}">HOME |</a>
        <!-- session은 내장객체이므로 로그인 하면 따로 controller로 값을 설정해 주지 않아도 session의 정보가 넘어온다. 
        아래는 session정보가 없을 경우 로그인 혹은 계정이 없다면 회원가입을 권유하기 위하여 마크업해둔 것이다. -->
        <th:block th:if= "${session.sessMember} == null">
	        <a th:href="@{/member/login}">로그인 |</a>
	        <a th:href="@{/member/terms}">회원가입 |</a>
        </th:block>
        <!-- session값이 존재할 경우 가입당시 입력했던 nick을 불러와 로그인한 유저의 존재를 밝혀 줌  -->
        <th:block th:if= "${session.sessMember} != null">
        	[[${session.sessMember.nick}]]님 반갑습니다 |
        	<a th:href="@{/member/logout}" class="logout">로그아웃 |</a>
        </th:block>
        <a th:href="@{/board/list(group=Community,cate=qna)}">고객센터</a>
    </p>
    <img th:src="@{/img/head_txt_img.png}" alt="3만원 이상 무료배송"/>
    
    <ul class="gnb">
        <li><a th:href="@{/introduction/hello}">팜스토리소개</a></li>
        <li><a th:href="@{/board/list(group=Market, cate=market)}"><img th:src="@{/img/head_menu_badge.png}" alt="30%"/>장보기</a></li>
        <li><a th:href="@{/board/list(group=Croptalk, cate=story)}">농작물이야기</a></li>
        <li><a th:href="@{/board/list(group=Event, cate=event)}">이벤트</a></li>
        <li><a th:href="@{/board/list(group=Community, cate=notice)}">커뮤니티</a></li>
        <!-- 헤더 메뉴에 각 list들에 접속하기 위하여 group과 cate로 list를 지정해서 해당 게시판에 접속 할 수 있게 한 다음
        사이드 메뉴도 이와 같은 형식으로 설정하여 각 게시판으로 접속 할 수 있게 하기 위하여 만듬... 설명이 조금 이상 ...-->
    </ul>
</header>
   